/* colors: 
white 
black
eaeaea viền button khớp với viền của field
background: f8f8f8
đậm hơn bg, nhẹ hơn sub: e8e8e8
sub: gray
required mark: red
*/

/* ---------------------Profile--------------------- */
.profile {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }
  
  .profile-card {
    width: 100%;
    max-width: 600px;
    margin: 15px 0;
    padding: 30px;
    background-color: white;
    overflow: hidden;
  }
  
  .profile-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  /* ---------------------CustomInput--------------------- */
  .country-select * {
    font-size: calc(49 / 48 * 16px);
  }
  
  /* ---------------------Checkout--------------------- */
  
  .checkout {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: start;
    width: 100%;
  }
  
  .checkout-left,
  .checkout-right,
  .checkout-right-fixed {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    border-top: 15px solid #f8f8f8;
    border-left: 15px solid #f8f8f8;
  }
  .checkout-left {
    width: 60%;
  }
  .checkout-right {
    width: 40%;
    border-right: 15px solid #f8f8f8;
  }
  
  .checkout-card {
    width: 100%;
    margin-bottom: 15px;
    padding: 30px;
    background-color: white;
    overflow: hidden;
  }
  
  .checkout-card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkout-card-title-btn {
    margin: 0 0 0.7rem 0;
    cursor: pointer;
  }
  
  .checkout-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .checkout-shipping,
  .checkout-shipping-focus {
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    min-width: 200px;
  }
  .checkout-shipping {
    outline: 1px solid #eaeaea;
  }
  .checkout-shipping-focus {
    outline: 1px solid black;
  }
  .checkout-shipping-detail {
    display: flex;
    flex-direction: column;
  }
  
  .checkout-bill-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkout-bill-divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid gray;
    margin: 15px 0;
  }
  
  .checkout-voucher {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  